@media (max-width: 940px) {
   /*  .CharacterCard {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        padding-left: 10px;
        padding-right: 00px;
        padding-top: 10px;
        width: 95%;
        height: 220px;
        background-color: #f5f5f5;
        border-radius: 20px;
        color: #515555;
        border: 1px solid #c0b763;
        justify-content: space-between;
      
        
    }
    .CharacterCard h2{
        display: flex;
        flex-direction: column;
    }
    
    .CharacterCard img{
        display: flex;
        flex-direction: column;
        max-height: 150px;
    }
    .CharacterLink {
        background-color: #c0b763;
        color: white;
        padding-left: 0px;
        padding-right: 00px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 17px;
        
        border-top-right-radius: 17px;
        
        width: 125px;
        height: 100%;
        text-align: center;
    } */
  }