@media (max-width: 768px) {
    .GameInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .GameImgs {
        margin-bottom: 90px;
    }
    .GameTitleLogo{
        display: none;
    }
    .BoxArt{
        margin-top: 90px;
    }
    .About {
        display: flex;
        margin: 0px;
        flex-direction: column;
        margin-left: 0px;
        justify-items: center;
        align-items: center;
        padding: 20px;
        background-color: rgb(252, 252, 252);
        color: rgb(0, 0, 0);
        border-radius: 20px;
        box-shadow: 0px 1px 2px 0px #7f8c8d;
        color: #515555;
    }
    .GameAbout{
        background-color: #191a1ab2;
    }
  }