.BossCard{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 250px;
    text-align: center;

    border-radius: 20px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    
    color: #515555;
    box-shadow: 0px 0px 2px rgb(190, 18, 18);
    transition: 0.2s ease;
    background-color: rgb(248, 248, 248);
}

.BossCard a{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(201, 52, 33);
    color: white;
   
    width: 112%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
   
    
}

.BossTitle {
    text-align: center;
    margin: 60px;
    font-family: 'HyliaSerif', sans-serif;
    color: #515555;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 70px;

  }
  .AllBosses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px; 
}