.Home {
   background-color: rgb(24, 24, 24);
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px; 
    color: #e9e9e9;
}

.TitlesAndMore {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
   
    font-weight: bold;
    padding: 0px; 
}


.Home h1 {
    
    font-family: 'HyliaSerif', sans-serif;
    letter-spacing: 5px;
    font-weight: normal;
   
    border-bottom: 1px solid #ffffff;
    margin-bottom: 40px;
}

.homeButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}


.TriForce {
    width: 300px;
   margin-top: 30px;
}
.SimpleBoxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 70px;
}

.TitlesAndMore .Title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
    gap: 50px;
}
.TitlesAndMore .Title img{
    height:20px ;
}
@media (max-width: 768px) {
    .Home h1{
        
        background-position:50px; 
        border-bottom: 0px;
    }
    
    .TitlesAndMore{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        margin: 0px;
        width: 100%;
        font-size: 20px;
        padding: 0px;
       
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
        
    }
    .TriForce {
        width: 230px;
        margin-top: 30px;
    }
    .SimpleBoxes{
        display: flex;
        flex-direction: row;
        
        gap: 30px;
        margin-bottom: 30px;
    }
    .TitlesAndMore .Title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-bottom: 20px;
        gap: 0px;
    }
  }

