.SeeMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  background-image: url('./Imgs/Bg/NavBar1.png');
}

.SeeMore h1 {
  font-size: 2.5rem;
  margin: 30px;
  margin-bottom: 60px;
  background-image: url('../Imgs/Bg/Florest.jpg');
  background-size: cover;
  background-clip: text;
  color: transparent;
  background-position: center;

}

.Box {
  display: flex;
  flex-direction: row;
}

.SideBox {
  background-image: url('../Imgs/Bg/Link.png');
  background-size: cover;
  background-position: center;
  display: flex;
  width: 600px;
  height: 400px;
  box-shadow: 1px 1px 6px;
  background-color: rgb(216, 239, 241);
  margin-left: 20px;
  border-radius: 20px;
}

.SideBox2 {
  width: 100%;

  padding-bottom: 60px;
  padding-top: 50px;
  background: rgba(0, 0, 0, 0.815);
  border-radius: 20px;

  color: white;
}

.Links {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.Links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.Links a {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  color: rgb(240, 240, 240);
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 120px;
  background-size: cover;
  background-position: center;

}



.Links a:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.Bosses,
.Characters,
.Games,
.Monsters,
.Races,
.Dungeons {
  background: rgba(0, 0, 0, 0.658);
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.BoxGames,
.BoxBosses,
.BoxCharacters,
.BoxMonsters,
.BoxRaces,
.BoxDungeons{
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}

.BoxGames {
  background-image: url('../Imgs/Bg/ZeldaLogo.png');

}

.BoxBosses {
  background-image: url('../Imgs/Bg/Boss.png');
}

.BoxCharacters {
  background-image: url('../Imgs/Bg/Characters.png');
}

.BoxMonsters{
  background-image: url('../Imgs/Bg/Monster.png');
}
.BoxRaces {
  background-image: url('../Imgs/Bg/Races.png');
}
.BoxDungeons{
  background-image: url('../Imgs/Bg/Link2.png');
}


.Links a:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
}
/*  */
/* .SeeMoreSlides{
  width: 70%;
} */
.alice-carousel {
  width: 100%; 
  margin: 0 auto; 
  padding: 20px 0;
  display: none;
}


.SlideGames,
.SlideBosses,
.SlideCharacters,
.SlideMonsters,
.SlideRaces,
.SlideDungeons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size:200px;
  background-position: center;
  border-radius: 15px;
  width: 300px;
  height: 120px;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s ease;
  margin-bottom: 70px;
  margin-left: 15%;
}
.SlideGames a,
.SlideBosses a,
.SlideCharacters a,
.SlideMonsters a,
.SlideRaces a,
.SlideDungeons a{
  text-align: center;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  width: 350px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.651);
}

.SlideGames {
  background-image: url('../Imgs/Bg/ZeldaLogo.png');
}

.SlideBosses {
  background-image: url('../Imgs/Bg/Boss.png');
}

.SlideCharacters {
  background-image: url('../Imgs/Bg/Characters.png');
}

.SlideMonsters {
  background-image: url('../Imgs/Bg/Monster.png');
}

.SlideRaces {
  background-image: url('../Imgs/Races/elf3.png');
}

.SlideDungeons {
  background-image: url('../Imgs/Bg/Link2.png');
}

.SlideGames:hover,
.SlideBosses:hover,
.SlideCharacters:hover,
.SlideMonsters:hover,
.SlideRaces:hover,
.SlideDungeons:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
}



@media (max-width: 868px) {
  .SideBox {
    display: none;
  }
  .alice-carousel {

    margin: 0 auto;
    padding: 0;
    display: block;
  }

}
@media (max-width: 568px) {
  .alice-carousel {

    margin: 0 auto;
    padding: 0;

  }
  
 
  .SlideGames a,
.SlideBosses a,
.SlideCharacters a,
.SlideMonsters a,
.SlideRaces a,
.SlideDungeons a{
  display: flex;
  align-items: end;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  background-color:rgba(0, 0, 0, 0.808);
}

.SlideGames,
.SlideBosses,
.SlideCharacters,
.SlideMonsters,
.SlideRaces,
.SlideDungeons {

  height: 300px;
  width: 90%;

  margin-left: 5%;
}
/*  */
.Links a {
  align-items: center;
  justify-content: start;
  width: 300px;
  
  height: 100px;

}
.BoxGames,
.BoxBosses,
.BoxCharacters,
.BoxMonsters,
.BoxRaces,
.BoxDungeons{
  
  background-position:right;

  background-size: 200px;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}

}

@font-face {
  font-family: 'HyliaSerif'; 
  src: url('../fonts/HyliaSerifBeta-Regular.otf'); 

}