.SimpleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    
    color: white;
    text-align: center;
    
    
}
.BoxInfo{
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.658);
    width: 300px;
    height: 150px;
}



.SimpleBox h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.SimpleBox p {
    font-size: 1rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

